<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Fellow</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <h1>Welcome to The Fellow</h1>
    <p>Hello! The text box below is your friend The Fellow. Give him any topic you'd like more resources on!</p>
    <p>To continue, enter the topic and click submit. The Fellow will provide you with resources that relate to the given topic.</p>
    <p>These resources can be used to learn more about the chosen topic, to find teaching material for classrooms, or for whatever your heart desires!</p>
    <form action="\" method="POST">
        <input name="inputTopic" spellcheck="true" placeholder="Input your belief here" type="text" maxlength="100">
        <input name="submit" type="submit">
    </form>
    <p>Note that while this website is primarily designed to help teachers, it can be used by anyone who wants to know more about the world today than they did yesterday!</p>
</body>