<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Contrarian</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <h1>Welcome to The Fellow</h1>
    <p>Hello! The text box below is your friend The Fellow. Give him any topic you'd like!</p>
    <p>To continue, enter the topic and click submit. The Fellow will provide you with resources that may help you learn more about your chosen topic!</p>
    <form action="\" method="POST">
        <input name="inputTopic" placeholder="Input your belief here" type="text" maxlength="100">
        <input name="submit" type="submit">
    </form>
</body>